<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hii <%= @user.name %></P>

    <h4>New task</h4> <br>

    <p>
      You have assigned new task please check it in your dashboard.
    </p> <br>

    <p>
        For dashboard please login. <br>
        To login to the site, just follow this link: http://127.0.0.1:3000/user/login.
    </p><br>

    <p>Happy working.. & have a great day!</p>
    <p>The Task Tracker Team</p>

  </body>
</html>