<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hii <%= @user.name %></P>

    <h4>Welcome to Task Tracker web-app</h4>

    <p>
      You have successfully signed up to  Task Tracker.</p>

    <p>
      To login to the site, just follow this link: http://127.0.0.1:3000/user/login.
    </p><br>

    <p>Thanks for joining and have a great day!</p>
    <p>The Task Tracker Team</p>

  </body>
</html>