<center><h1>Editing task</h1></center>
<div class="blurred-background task-card">
<%= render "form", task: @task %>

<div>
<center>
 <div class="blurred-background task-card"> <%= link_to "Show this task", @task %> </div>
 <div class="blurred-background task-card"> <%= link_to "Back to tasks", tasks_path %> </div>
 </center>
</div>

</div>