<h1>New task</h1>

<div class="blurred-background task-card">
  <%= render "form", task: @task %>
  <div class="blurred-background task-card">
  <center> <%= link_to "Back to tasks", tasks_path %> </center>
  </div>
</div>