<p>Hii <%= @user.name? ? @user.name : "Workie..." %></P>
<h4>Task status updated</h4> <br>
<p>Your one of task timer is ended and your task status is updated. <br>Please check it in your dashboard.</p> <br>
<p>For dashboard please login. <br>To login to the site, just follow this link: http://127.0.0.1:3000/user/login.</p><br>
<p>Happy working.. & have a great day!</p>